<header class="top-header" id="header">
    <div class="flex-row">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light on" id="menu-toggle">
          <i class="icon icon-lg icon-navicon"></i>
        </a>
        <div class="flex-col header-title ellipsis"><%=title %></div>
        <% if(theme.search){ %>
        <div class="search-wrap" id="search-wrap">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="back">
                <i class="icon icon-lg icon-chevron-left"></i>
            </a>
            <input type="text" id="key" class="search-input" autocomplete="off" placeholder=" <%= __('search') %>...">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="search">
                <i class="icon icon-lg icon-search"></i>
            </a>
        </div>
        <% }%>
        <% if(theme.share){ %>
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menuShare">
            <i class="icon icon-lg icon-share-alt"></i>
        </a>
        <% } %>

      <div class="header-lang-select-wrap header-link">
        <label>
        <% if (is_root()) { %>
         Choose a Language
        <% } else { %>
          <%= site.data.languages[page.lang] %>
        <% } %>
        </label>
        <select id="header-lang-select" class="header-lang-select" onchange="location = this.options[this.selectedIndex].value">
        <% if (is_root()) { %>
          <option disabled selected value class="hidden">Choose a Language</option>
          <% get_langs().forEach(lang => { %>
            <option value="<%= switch_lang(lang) %>" data-href="<%= switch_lang(lang) %>"><%= site.data.languages[lang] %></option>
          <% }) %>
        <% } else { %>
          <% get_langs().forEach(lang => { %>
            <option
              value="<%= switch_lang(lang) %>"
              <%= lang === page.lang ? 'selected' : ''%>
              data-href="<%= switch_lang(lang) %>"
            >
              <%= site.data.languages[lang] %>
            </option>
          <% }) %>
        <% } %>
        </select>
      </div>
    </div>
</header>
<header class="content-header <%-hdClass %>">

    <div class="container fade-scale">
        <h1 class="title"><%= __('title') %></h1>
        <h5 class="subtitle">
            <% if(is_post()){ %>
                <%- partial('post/head-meta') %>
            <% } else if(is_home()){ %>
                <%- __('subtitle') %>
            <% } else if (page.layout === 'page' && page.description) {%>
                <%- __('subtitle') %>
            <% } %>
        </h5>
    </div>

    <!-- Select Lenguaje -->

    

    <%- partial('tags-bar', {
        type: hdClass.split('-')[0]
    }) %>

</header>
